
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', 'sans-serif';
  background-color: rgb(46, 45, 45);
  color: #444;
}

.container {
  max-width: 95%;
  margin-right: auto;
  margin-left: auto;
  /* margin-top: 10px; */
  padding: 1rem;
}

h1, p {
  margin: 0 0 1em 0;
}

h5 {
  text-align: center;
}

h6 {
  padding-left: 5px;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
}

.sidebar-center {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  border-radius: 10px;
}

.img-size {
  width: 15rem;
}

.content-list {
  margin-top: 20px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  list-style-position: inside;
}
/* .skills-h5 {
  display: block;
} */

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  
  /* justify-content: space-evenly; */
  /* border: #fff solid; */
  /* flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; */
  /* align-content:flex-end; */
  
  /* border: white solid; */
}

.header {
  text-align: center;
}


@media screen and (min-width: 500px) {

  /* no grid support? */
  .sidebar {
    float: left;
    width: 19.1489%;
   }

  .content {
    float: right;
    width: 79.7872%;
    text-align: center;
    list-style-position: inside;
  }

  .wrapper {
    margin: 0 auto;
    grid-template-columns: 1fr 3fr;
  }
  
  .header, .footer {
    grid-column: 1 / -1;
    /* needed for the floated layout */
    clear: both;
    text-align: center;
  }

}

.wrapper > * {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  /* needed for the floated layout*/
  margin-bottom: 10px;
}

.contact-links {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
  .wrapper > * {
    width: auto;
    margin: 0;
  }
}

picture {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  /* padding: 1px; */
  /* align-self: center; */
  /* border: 1px solid; */
}

/* svg {
  display: flex;
  
  border: 1px solid;
} */